.carousel__box{
    position: relative; 
    max-width: 1136px;
    width: min(1136px,100%);
    height: 100%;
    border-radius: 20px;
}
.carousel__banner{      
    width: 100%;
    height: 100%;
    position: unset;    
}
.carousel__item{
    width: 100%;
    height: 100%;
}

