.box_page{
    display: flex;
    width: 100%;
    height: 100%;
}
.header{
    margin-bottom: 2.625rem;
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}
.box_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.section_text{
    margin-bottom: 2.3125rem;
}
.section_form{

}
.form{
    
}
.box_image{
    position: relative;
    margin: auto auto;
    width: 50%;
    height: 100%;
}