.carouselCards{
    position: relative;
    width: 100%;
    overflow: hidden;
    border: solid 1px var(--chakra-colors-greyScale-grey0);
}
.carouselResponsive{
    width: 100%;
}
.item_slider{
    width: auto;
    height: auto;
}