.container{
    position: relative;
    width: 100%;
    height: auto;
}

.main{
    width: auto;
    height: 100%;
}
.aside{
    position: absolute;
    z-index: 2;
    background-color: var(--chakra-colors-brand-brand4);
    width :100%;
    height: 100%;
}
@media (min-width: 480px) {

    .container{
        display: flex;
    }
    
    .aside{
        width: max(20vw,240px);
        position: relative;
        height: auto;
    }
}